@font-face {
    font-family: "Space Grotesk";
    font-display: swap;
    src: url("../fonts/SpaceGrotesk-Light.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Space Grotesk";
    font-display: swap;
    src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Space Grotesk";
    font-display: swap;
    src: url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Space Grotesk";
    font-display: swap;
    src: url("../fonts/SpaceGrotesk-SemiBold.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Space Grotesk";
    font-display: swap;
    src: url("../fonts/SpaceGrotesk-Bold.woff2") format("woff2");
    font-weight: 700;
}