/*Header*/
.header {
    padding-top: 60px;
}

.header__logo {
}

.header__nav {
    margin-right: 20px;
}

.header_nav-item {
}

.header__nav-link {
    padding: 10px 20px;
}

/*Section Main*/
.section-main {
    margin-bottom: 140px;
}

.section-main__main {
    margin: 70px 0;
}

.section-main__title {
    font-weight: 500;
    font-size: 3.75em;
    max-width: 531px;
}

.section-main__subtitle {
    max-width: 498px;
}

.section-main__image {
}

.section-main__logotypes {
}

.section-main__logotypes-item {
    filter: grayscale(1);
}

/*Section Services*/
.section-services__title {
    font-weight: 500;
    font-size: 2.5em;
    margin-right: 40px;
}

.section-services__subtitle {
    max-width: 580px;
}

.section-services__cards {
    gap: 40px;
    margin-bottom: 100px;
}

.section-services__card {
    flex-basis: 600px;
    padding: 50px;
    box-shadow: 0 5px 0 0 var(--dark);
}

.section-services__card-title {
    margin-bottom: 93px
}

.section-services__card-link::before {
    padding-right: 15px; /*margin-right?*/
    line-height: 1;
}

.section-services__card-link_arrow-black::before {
    content: url("../img/svg/arrow-black.svg")
}

.section-services__card-link_arrow-white::before {
    content: url("../img/svg/arrow-white-alt.svg");
}

/*CTA*/
.section-services__cta {
    position: relative;
    padding: 60px;
}

.section-services__cta-block {
    gap: 26px;
}

.section-services__cta-subtitle {
    max-width: 500px;
}

.section-services__cta-image {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}