/*Header*/
.header {
    padding-top: 60px;
}

.header__logo {
}

.header__nav {
    margin-right: 20px;
}

.header_nav-item {
}

.header__nav-link {
    padding: 10px 20px;
}

/*Section Main*/
.section-main {
    margin-bottom: 140px;
}

.section-main__main {
    margin: 70px 0;
}

.section-main__main-block {
    gap: 35px;
}

.section-main__title {
    max-width: 531px;
}

.section-main__subtitle {
    max-width: 498px;
}

.section-main__image {
}

.section-main__logotypes {
}

.section-main__logotypes-item {
    filter: grayscale(1);
}

/*Section Services*/
.section-services {
    margin-bottom: calc(100px + 23px);
}

.section-services__cards {
    gap: 40px;
}

.section-services__card {
    flex-basis: 600px;
    padding: 50px;
}

.section-services__card-title {
    margin-bottom: 93px
}

.section-services__card-link::before {
    padding-right: 15px;
    line-height: 1;
}

.section-services__card-link_arrow-black::before {
    content: url("../img/svg/arrow-black.svg")
}

.section-services__card-link_arrow-white::before {
    content: url("../img/svg/arrow-white-alt.svg");
}

/*CTA*/
.section-services__cta {
    position: relative;
    padding: 60px;
    margin-top: 23px;
}

.section-services__cta-block {
    gap: 26px;
}

.section-services__cta-subtitle {
    max-width: 500px;
}

.section-services__cta-image {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/*Section Case Studies*/
.section-case-studies {
}

.section-case-studies__block {
    padding: 70px 60px;
    gap: 64px;
}

.section-case-studies__block-item {
}

.section-case-studies__block-item-text {
    margin-bottom: 20px;
}

.section-case-studies__block-item-link {
    color: var(--green);
}

.section-case-studies__block-item-link::after {
    content: url("../img/svg/section-case-studies__block-item-link-arrow.svg");
    line-height: 1;
    height: 20px;
    padding-left: 15px;
}

.section-case-studies__block-vertical-line {
    width: 2px;
    height: 186px;
}

/*Our Working Process*/
.section-process {
}

.section-process__subtitle {
    max-width: 292px;
}

.section-process__accordion {
    gap: 30px;
}

.section-process__accordion-toggle {
}

.section-process__accordion-toggle-button {
    padding: 41px 60px;
}

.section-process__accordion-toggle-heading {
    gap: 25px;
}

.section-process__accordion-toggle_active {
}

.section-process__accordion-toggle_active-button {
    padding: 41px 60px 30px 60px;
}

.section-process__accordion-toggle_active-content {
    padding: 0 60px 0 60px;
}

.section-process__accordion-toggle_active-content-separate-line {
    background: #000;
    height: 2px;
    margin-bottom: 30px;
}

.section-process__accordion-toggle_active-content-text {
    padding-bottom: calc(14px + 41px);
}