/*TEXT BEGIN*/
.font-grotesk {
    font-family: "Space Grotesk", sans-serif;
}

.text-black {
    color: var(--black);
}

.text-white {
    color: var(--white);
}

.text-l {
    font-size: 1.25em;
    line-height: 1.4;
}

.text-title-section {
    font-weight: 500;
    font-size: 2.5em;
}

.text-title {
    font-weight: 500;
    font-size: 1.875em;
}

.text-subtitle {
    font-size: 1.125em;
}

.highlight {
    border-radius: 7px;
    padding-left: 7px;
    padding-right: 7px;
}
/*TEXT END*/

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.items-start {
    align-items: start;
}

.items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.container {
    padding-left: calc(50% - 620px);
    padding-right: calc(50% - 620px);
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-100 {
    margin-bottom: 100px;
}

.bg-green {
    background: var(--green);
}

.bg-grey {
    background: var(--grey);
}

.bg-dark {
    background: var(--dark);
}

.bg-white {
    background: var(--white);
}

.border-dark {
    border: 1px solid var(--dark);
}

.br-45 {
    border-radius: 45px;
}

.button {
    border-radius: 14px;
    padding: 20px 35px;
}

.max-width-580 {
    max-width: 580px;
}

.gap-40 {
    gap: 40px;
}

.heading {
    gap: 40px;
    margin-bottom: 80px;
}