/*TEXT BEGIN*/
.font-grotesk {
    font-family: "Space Grotesk", sans-serif;
}

.text-black {
    color: var(--black);
}

.text-white {
    color: var(--white);
}

.text-green {
    color: var(--green);
}

.text-l {
    font-size: 1.25rem;
    line-height: 1.4;
}

.text-xl {
    font-weight: 500;
    font-size: 3.75rem;
}

.text-title-section {
    font-weight: 500;
    font-size: 2.5rem;
}

.text-title {
    font-weight: 500;
    font-size: 1.875rem;
}

.text-subtitle {
    font-size: 1.125rem;
}

.text-name {
    font-weight: 500;
    font-size: 1.25rem;
}

.highlight {
    border-radius: 7px;
    padding-left: 7px;
    padding-right: 7px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
/*TEXT END*/

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.items-start {
    align-items: start;
}

.items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.container {
    padding-left: calc(50% - 621px);
    padding-right: calc(50% - 621px);
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-140 {
    margin-bottom: 140px;
}

.bg-none {
    background: none;
}

.bg-green {
    background: var(--green);
}

.bg-grey {
    background: var(--grey);
}

.bg-dark {
    background: var(--dark);
}

.bg-white {
    background: var(--white);
}

.border-dark {
    border: 1px solid var(--dark);
}

.br-14 {
    border-radius: 14px;
}

.br-45 {
    border-radius: 45px;
}

.button {
    border-radius: 14px;
    padding: 20px 35px;
}

.max-width-580 {
    max-width: 580px;
}

.heading {
    gap: 40px;
    margin-bottom: 80px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    border: 1px solid var(--dark);
    border-radius: 45px;
    box-shadow: 0 5px 0 0 var(--dark);
}

.hr_black {
    background: var(--black);
    height: 1px;
}

.hr_white {
    background: var(--white);
    height: 1px;
}

.w-100 {
    width: 100%;
}

.gap-35 {
    gap: 35px;
}

.gap-25 {
    gap: 25px;
}