/*TEXT BEGIN*/
.font-grotesk {
    font-family: "Space Grotesk", sans-serif;
}

.text-black {
    color: var(--black);
}

.text-white {
    color: var(--white);
}

.text-l {
    font-size: 1.25em;
    line-height: 1.4;
}

.green-mark {
    background: var(--green);
    border-radius: 7px;
    padding-left: 7px;
    padding-right: 7px;
}
/*TEXT END*/

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.items-start {
    align-items: start;
}

.items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.container {
    padding-left: calc(50% - 620px);
    padding-right: calc(50% - 620px);
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-80 {
    margin-bottom: 80px;
}